import React from 'react';
import {loadTranslations} from 'i18n/i18n.service';
import {useTranslation} from 'react-i18next';
import enTexts from './i18n/en.json';
import itTexts from './i18n/it.json';
import deTexts from './i18n/de.json';
import esTexts from './i18n/es.json';
import frTexts from './i18n/fr.json';
import nlTexts from './i18n/nl.json';
import svTexts from './i18n/sv.json';
import './{{camelCase componentName}}.scss'

interface {{pascalCase componentName}}Props{

}

const componentClassName = '{{dashCase componentName}}';

export const {{pascalCase componentName}} = (props: {{pascalCase componentName}}Props) => {
    const i18nTexts = {
        'en': enTexts,
        'it': itTexts,
        'de': deTexts,
        'es': esTexts,
        'fr': frTexts,
        'nl': nlTexts,
        'sv': svTexts,
    };
    loadTranslations('{{componentName}}', i18nTexts);
    const {t} = useTranslation('{{componentName}}');

    return (
        <div className={`${componentClassName}`}>
            {/*your content here*/}
        </div>
    )
};
